/* Debug Outline Toggle */
/* *{
    outline:1px solid red;
} */

/* Header */
header{
    text-align: center;
}

header img{
    width: 180px;
    padding: 10px;
}


/* Body */
body{
    font-family: Montserrat;
    line-height: 1.3;
    max-width: 100%;
    background-color: #8EF0BA;
}

/* Main */
main{
    border-radius: 30px;
    width: 100%;

}

/* Headings */
h1{
    font-family: Iceland;
    color: #8EF0BA;
    font-size: 6rem;
}

h2{
    font-size: 2.5rem;
    font-family: Iceland;
    border-radius: 2rem 0 2rem 0;
    box-shadow: 15px 15px 20px black;
    background-color: #04805E;
    padding: 0 1rem 0 1rem;;
    color: white;
    border: 3px solid #DB4001;
    margin: auto;
    width: fit-content; 
    text-align: center;
}

/*Global or Multi-section styling*/
#bio,#hobbies,#gallery{
    border-bottom: 2px dashed #DB4001;
    background-color: #F9F5FC;
    color: #B82929;
    padding: 2vw 5vw 2vw 5vw; 
    text-align: left;
    margin: 0 auto 0 auto;
    margin-left: auto;
    margin-right: auto;
}

#hero,footer{
    background-color: #04805E;
    color: #F9F5FC;
    text-align: center;
    padding: 1.5rem;
}

a{
    color: #04805E;
    font-weight:bold;
}

:link:hover, a:visited:hover{
    color:#DB4001;
}

a:visited{
    color:#B82929;
}


/*Hero*/
.my-name{
    font-weight: bold;
    font-size: 2rem;
}

.my-location{
    font-size: 1rem;
}

#hero img{
    max-width: 100%;
    border-radius: 100px;
    border: 4px ridge #B82929;
}

#hero div{
    padding: 2rem;
}

/* Biography*/
#bio div{
    max-width:1400px;
    margin:auto;
    font-size: 1.1rem;
}

#bio span{
    font-weight: bold;
}


/*Hobbies*/

/* List Styling */
#hobbies ul{
    border: 8px outset #DB4001;
    line-height: 1.4;
    background: url(/img/michael-dziedzic-pcb.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 15px 15px 10px inset black;
    padding: 30px;
    border-radius: 50px;
    max-width: 100%;
}

#hobbies h3{
    text-align: center;
}

#hobbies ul li{
    list-style: none;
    font-weight: bold;
    margin: 20px 0;
    box-shadow: 15px 15px 15px black;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

/* Alternating Colors in #hobbies <li> elements */
#hobbies ul li:nth-child(odd){
    color: #B82929;
    background-color: #8EF0BA;
    border-bottom: 15px double #04805E;
}

#hobbies ul li:nth-child(even){
    color: #F9F5FC;
    background-color: #B82929;
    border-bottom: 15px double #DB4001;
}


    /*Links in #hobbies*/

    #hobbies ul li:nth-child(odd) a{
        color: #B82929;
    }

    #hobbies ul li:nth-child(even) a{
        color: #F9F5FC;
    }

    #hobbies a:visited{
        color: #04805E;
    }

    #hobbies :link:hover,
    #hobbies a:visited:hover{
        color: #04805E;
        font-style: oblique;
    }




/*Gallery*/
#gallery{
    padding: 2vw 1vw;
}
#gallery h2{
    margin-bottom: 1.5rem;
}

#gallery img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#gallery figure{
    margin: auto;
    text-align: center;
    border: 4px ridge #B82929;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
    max-width: 640px;
}
    /* Gallery Image Hover Text Effect */
    #gallery figure{
        position: relative;
        height: fit-content;
    }

    #gallery figure img{
        display: block;
        width: 100%;
    }

    #gallery figure figcaption{
        margin: auto;
        border-radius: 23px;
        display: flex;
        color: #ffffff;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(4, 128, 94, .7);/* This is #04805E from the main palette converted to rgba*/
        opacity: 0;
        transition: opacity 300ms;
    }

    #gallery div{
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #gallery figure figcaption:hover{
        opacity: 1;
    }


/*Literature*/
#lit{
    max-width: 1600px;
    color: #04805E;
    border: 6px dashed #DB4001;
    box-shadow: 15px 15px 30px black;
    text-align: left;
    margin: 40px auto 40px auto;
    border-radius: 3px;
    background-color: #F9F5FC;
}

#lit h2{
    box-shadow: 0px 0px 0px black;
    font-family: Iceland;
    color: #04805E;
    text-align: center;
    margin: auto;
    border: 0px solid black;
    background: none;
}

#lit div{
    padding: 0rem 2rem 2rem 2rem;
}

#lit div p{
    padding: .3rem;
    clear: both; /* This allows the columns to render correctly */
}


    /*Dropcaps*/
    #lit div p:first-child:first-letter{
        color: #04805E;
        text-shadow: -7px 0px 2px black;
        font-family: Iceland;
        background-image: repeating-radial-gradient(#F9F5FC,#8EF0BA 15%);
        font-weight: bolder;
        float: left;
        font-size: 5rem;
        border: 8px ridge #04805E;
        margin-right: .2rem;
        margin-top: -1rem;
        padding: .5rem .6rem;
        line-height: .5;
        border-radius: 2rem 0 2rem 0;
        font-style: oblique;
    }

/* My Video*/
#video h2{
    margin-bottom: 4rem;;
}

#video figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #F9F5FC;
    margin: auto;
    padding: 20px 0px;
    font-weight: bold;
    max-width: 1100px;
}

    /* Film Strip-separated from figure styling for organization and readability */
    #video figure{
        background: #333;
        border-top: 30px  dashed #8EF0BA;
        border-bottom: 30px  dashed #8EF0BA;
        box-shadow: 0px 30px #333, 0px -30px #333;
        width: 100%;
    }

#video figure figcaption{
    padding: 20px;
} 

/* Embedded video container-Preserves aspect ratio when resizing video */
.videowrap{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrap #myVideo{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

/* Contact Form*/
#contact h2{
    margin-top: 3rem;
}

#formelements{
    display: grid;
    row-gap: .5em;
}

#contact{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 2rem auto;
}

#contact form{
    min-width: 100%;
    margin-top: 2rem;
}

label{
    font-weight: bold;
}

fieldset{
    color: #04805E;
    border: 3px dashed #DB4001;
    text-align: left;
    margin: 10px auto 40px auto;
    border-radius: 5px;
    background-color: #F9F5FC;
}

.formfields{
    box-shadow: 10px 10px 10px black;
    padding: 1.2rem;
}

legend{
    border-radius: 1rem 0 1rem 0;
    background-color: #04805E;
    color: #F9F5FC;
    padding: .5em 1.2em .5em 1.2em;
    border: 3px solid #DB4001;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

#contact button{
    background-color: #04805E;
    color: #F9F5FC;
    border: 4px outset #DB4001;
    justify-self: center;
    border-radius: 5px;
    max-width: 400px;
    width: 50%;
}

#contact button:hover{
    text-decoration: underline;
    font-style: oblique;
}

#contact button:active{
    border-style: inset;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding: .6em;
    font-size: 1rem;
}

/* Footer */

/* Overriding previous link styling so scroll to top button stays 
same color after visiting */
footer a{
    color: #F9F5FC; 
} 

footer a:visited{
    color:#F9F5FC;
}

/* Aligning Various Footer Elements using flexbox */
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

/* Pipe Divider*/
.pipe-divider{
    padding: 0 4px 0 4px;
}

/* Sets Github Image to correct size for alignment */
footer img{
    max-height:40px;
}


/* Media Query for Large Tablet-Sized Screen*/
@media screen and (min-width: 60em){

    #hobbies ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }
    
    #lit div{
        max-width: 100%;
        columns: 15rem;
    }

    #formelements input, #formelements select, #formelements textarea{
        margin-bottom: 1.4rem;;
    }
}

/* Media Query For Laptop-Sized Screen*/
@media screen and (min-width:100em){
    #gallery{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    #gallery figure{
        display: block;
    }

}